/* @charset "UTF-8";  */

/*reset  3shan bi7ot s3at margin w padding lw7do*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main style*/
html , body{
    font-family: 'Nerko One', cursive;
    line-height: 1.8rem;
}
ul , ol {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/*utility classes*/
.container{
    width: 80%;
    margin: 0 auto;
}
.clear{clear: both}
.text-white{color: white;}
.text-dark{color: #2f2f2f;}
.bg-dark{background-color: #2f2f2f;}
.bg-white{background-color: white;}
.text-center{text-align: center;}

/*navbar style*/
.navbar{
    padding: 0.7rem;
}
.navbar .nav-items{
    display: flex;
  /*  flex-direction: row;  da m3mol by default*/
    justify-content: space-between;
}
.navbar .nav-items .brand a{
    color: #FED136;
    font-size:2rem ;
}
.navbar .nav-items .links ul li{
    display: flex;
   display: inline;
    padding: 0 8px;
}

.navbar .nav-items .links ul li a:hover{
    color:#FED136;
}

/*showcase style*/
.showcase{
    height: 570px;
    /*background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;*/
    background: url('../images/header-bg.jpg') no-repeat center center/cover;
}
.showcase .showcase-content{
    padding-top: 150px;
}
.showcase .showcase-content .sub-heading{
    font-size: 2rem;
    font-style: italic;
    word-spacing: 6px;
    padding: 25px 0;
    text-shadow: .5px .5px .5px .5px white;
}
.showcase .showcase-content hr,
.services hr,
.about hr,
.portofolio hr{
    width: 6%;
    margin: 10px auto;
    border: 3px solid #FED136;
}
.showcase .showcase-content .mashead-heading{
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
    word-spacing: 16px;
    text-shadow: .5px .5px .5px .5px white;
    padding: 16px 0;
}
.showcase .showcase-content button,
.about button{
    background-color: #FED136;
    border: none;
    font-size: 1.3rem;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
}
.showcase .showcase-content button:hover{
    background-color: #2f2f2f;
    color: #FED136;
}

/*services*/
.services,
.portofolio{
    margin-top: 85px ;
}
.services h2,
.about h2, 
.portofolio h2{
    font-size: 3rem;
}
.services hr,
.about hr,
.portofolio hr{
    margin: 25px auto;
}
.services .row{
    display: flex;
    margin-top: 40px ;
}
.services .row .col{
    padding: 20px;
}
.services .row .col .icon i{
    background-color: #FED136;
    padding: 35px;
    border-radius: 50%;
}
.services .row .col h3{
    margin: 25px 0;
    font-size:1.8rem ;
}

/*about*/
.about{
    margin-top: 35px;
    padding: 65px;
}
.about button{
    border-radius: 50px;
    font-size: 25px;
    text-transform: capitalize;
}
.about button:hover{
    background-color: white;
    color: #FED136;
}

/*portofolio style*/

.portofolio .images{
    margin-top: 50px ;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 70px;
    line-height: 0;
    
}
.portofolio .contact-icons{
    margin: 50px 400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1px black;
}
.portofolio .contact-icons .message i{
    color: #FED136;
}

/*footer style*/
.footer .footer-copyright{
    padding: 20px;
}

